In [ ]:
!pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.0.1)

In [ ]:
from google.colab import drive
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules, apriori
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [14]:
df = pd.read_csv('/tmdb_5000_movies.csv')
df = df.drop(df.loc[df['genres'] == '[]'].index) # drop rows with empty genres
df = df.loc[:, ['original_title', 'genres']]

In [15]:
import re
# parse genre and convert it to python list
def split_genres(x):
  r = x[1:-1].split('}, ')
  genres = []
  pattern = re.compile(r'(\"name\": )(\"[\d\D]*\")')
  for genre in r:
    genres.append(re.search(pattern, genre).group(2))
  
  return genres

In [19]:
data = list(df['genres'].apply(split_genres))
data[:5] # genre has been parsed and ready to be encode

[['"Action"', '"Adventure"', '"Fantasy"', '"Science Fiction"'],
 ['"Adventure"', '"Fantasy"', '"Action"'],
 ['"Action"', '"Adventure"', '"Crime"'],
 ['"Action"', '"Crime"', '"Drama"', '"Thriller"'],
 ['"Action"', '"Adventure"', '"Science Fiction"']]

In [20]:
te = TransactionEncoder()
te_data = te.fit(data).transform(data) # transform data into group of genres
df = pd.DataFrame(te_data,columns=te.columns_)
df.head()

   "Action"  "Adventure"  "Animation"  ...  "Thriller"  "War"  "Western"
0      True         True        False  ...       False  False      False
1      True         True        False  ...       False  False      False
2      True         True        False  ...       False  False      False
3      True        False        False  ...        True  False      False
4      True         True        False  ...       False  False      False

[5 rows x 20 columns]

In [ ]:
df1 = apriori(df, min_support=0.03, use_colnames=True) # find frequent value of genres using apriori algorithm

In [23]:
rules = association_rules(df1, metric="lift", min_threshold=1) # create association rules
rules.loc[rules['lift'] == rules['lift'].max()] # select rules with the highest lift

   antecedents    consequents  ...  leverage  conviction
17  ("Family")  ("Animation")  ...  0.035573    1.534152

[1 rows x 9 columns]